<div class="section-header my-7 desktop:my-16">
    <h1 class="text-[23px] desktop:text-[35px] text-center font-bold text-primary">O que nós temos para si</h1>
</div>
<div class="section-content-offering-component px-5 bg-red-00 w-full overflow-hidden overflow-x-auto">
    <div class="slider boxes flex flex-row gap-x-5">

        <div class="box w-[290px] h-[355px] desktop:w-[420px] desktop:h-[568px] first_box_of_offering">
            <img src="assets/images/img5.jpg" alt="">
            <div class="content px-2 py-10 desktop:py-20">
                <div class="content-header mb-5">
                    <h1 class="text-white font-medium text-[15px] uppercase text-center desktop:text-[18px]">Bolos de Chocolate</h1>
                </div>
                <div class="content-button text-center">
                    <a href="javascript:void(0)" class="font-bold text-white text-[10px] desktop:text-[15px] px-6 py-3">Solicitar Orçamento</a>
                </div>
            </div>
        </div>

        <div class="box w-[290px] h-[355px] desktop:w-[420px] desktop:h-[568px]">
            <img src="assets/images/img6.jpg" alt="">
            <div class="content px-2 py-10 desktop:py-20">
                <div class="content-header mb-5">
                    <h1 class="text-white font-medium text-[15px] uppercase text-center desktop:text-[18px]">Bolos de Aniversário</h1>
                </div>
                <div class="content-button text-center">
                    <a href="javascript:void(0)" class="font-bold text-white text-[10px] desktop:text-[15px] px-6 py-3">Solicitar Orçamento</a>
                </div>
            </div>
        </div>
        <div class="box w-[290px] h-[355px] desktop:w-[420px] desktop:h-[568px]">
            <img src="assets/images/img4.jpg" alt="">
            <div class="content px-2 py-10 desktop:py-20">
                <div class="content-header mb-5">
                    <h1 class="text-white font-medium text-[15px] uppercase text-center desktop:text-[18px]">Bolos de Casamento</h1>
                </div>
                <div class="content-button text-center">
                    <a href="javascript:void(0)" class="font-bold text-white text-[10px] desktop:text-[15px] px-6 py-3">Solicitar Orçamento</a>
                </div>
            </div>
        </div>
        <div class="box w-[290px] h-[355px] desktop:w-[420px] desktop:h-[568px] last_box_of_offering">
            <img src="assets/images/img7.jpg" alt="">
            <div class="content px-2 py-10 desktop:py-20">
                <div class="content-header mb-5">
                    <h1 class="text-white font-medium text-[15px] uppercase text-center desktop:text-[18px]">Bolos com cobertura</h1>
                </div>
                <div class="content-button text-center">
                    <a href="javascript:void(0)" class="font-bold text-white text-[10px] desktop:text-[15px] px-6 py-3">Solicitar Orçamento</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="buttons-slider flex flex-row gap-x-3 desktop:gap-x-5 justify-center my-5 desktop:my-8">
    <a href="javascript:void(0)" (click)="this.goBackward()" [ngClass]="{'disabled': !isPrevClickable}">
        <img src="assets/svg/icons/left-arrow-slide-mobile.svg" class="w-[30px] desktop:hidden" alt="">
        <img src="assets/svg/icons/left-arrow-slide.svg" class="hidden desktop:block" alt="">
    </a>
    <a href="javascript:void(0)" (click)="this.goForward()" [ngClass]="{'disabled': !isNextClickable}">
        <img src="assets/svg/icons/right-arrow-slide-mobile.svg" class="w-[30px] desktop:hidden" alt="">
        <img src="assets/svg/icons/right-arrow-slide.svg" class="hidden desktop:block" alt="">
    </a>
</div> -->