<div class="section-header my-7 desktop:my-16 w-[95%] mx-auto max-w-[1536px]">
    <h1 class="text-[23px] desktop:text-[35px] text-center font-bold text-primary">O que nós temos para si</h1>
</div>
<div class="section-content-offering-component px-5 bg-red-00 overflow-hidden overflow-x-auto w-[95%] mx-auto max-w-[1536px]">
    <div class="slider boxes flex flex-row gap-x-5">

        <div
        class="box w-[290px] h-[355px] desktop:w-[420px] desktop:h-[568px] first_box_of_offering"
        *ngFor="let cake_type of this.cak_types"
        >
            <img src="{{cake_type.image}}" alt="">
            <div class="content px-2 py-10 desktop:py-20">
                <div class="content-header mb-5">
                    <h1 class="text-white font-medium text-[15px] uppercase text-center desktop:text-[18px]">
                        {{cake_type.title}}
                    </h1>
                    <p class="price-text text-white font-semibold text-center text-[14px] my-2 desktop:text-[15px]">
                        (AOA) {{cake_type.price}}
                    </p>
                </div>
                <div class="content-button text-center">
                    <a href="javascript:void(0)" (click)="addToCart(cake_type.id)" class="font-bold text-white text-[10px] desktop:text-[15px] px-6 py-3">
                        Adicionar ao carrinho
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="buttons-slider flex flex-row gap-x-3 desktop:gap-x-5 justify-center my-5 desktop:my-8">
    <a href="javascript:void(0)" (click)="this.goBackward()" [ngClass]="{'disabled': !isPrevClickable}">
        <img src="assets/svg/icons/left-arrow-slide-mobile.svg" class="w-[30px] desktop:hidden" alt="">
        <img src="assets/svg/icons/left-arrow-slide.svg" class="hidden desktop:block" alt="">
    </a>
    <a href="javascript:void(0)" (click)="this.goForward()" [ngClass]="{'disabled': !isNextClickable}">
        <img src="assets/svg/icons/right-arrow-slide-mobile.svg" class="w-[30px] desktop:hidden" alt="">
        <img src="assets/svg/icons/right-arrow-slide.svg" class="hidden desktop:block" alt="">
    </a>
</div> -->