<header class="w-full py-3 bg-white">
    <div class="contain w-[90%] tablet:w-[95%] max-w-[1536px] bg-red-00 mx-auto flex justify-between items-center">

        <div class="logo">
            <a routerLink="/home">
                <img src="assets/svg/logo/brand_for_website.svg" class="w-[40px] laptop:w-[60px]" alt="">
            </a>
        </div>

        <div class="menu">
            <div class="mobile-menu laptop:hidden">
                <a href="javascript:void(0)">
                    <img src="assets/svg/icons/menu-icon.svg" alt="">
                </a>
            </div>
            <div class="desktop-menu hidden laptop:block">
                <nav>
                    <ul>
                        <li><a routerLink="">Página Inicial</a></li>
                        <li><a routerLink="">Precários</a></li>
                        <li><a routerLink="">Serviços</a></li>
                        <li><a routerLink="">Contactos</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="contact-btn hidden laptop:block">
            <a href="javascript:void(0)" class="">Entrar em Contacto</a>
        </div>

    </div>
</header>