<div class="banner-bigger-screens w-[95%] mx-auto max-w-[1536px]">
    <div class="panel bg-white p-0 w-full flex flex-row justify-between">
        <div class="banner-description tablet:w-[100%] bg-red-00 laptop:w-[100%] tablet:h-[336px] laptop:h-[500px] desktop:h-[650px] tablet:p-5 laptop:p-10 flex flex-col tablet:gap-y-3 laptop:gap-y-5 desktop:gap-y-10 justify-center">
            <div class="description-title">
                <h1 class="text-primary font-bold tablet:text-[23px] laptop:text-[36px] desktop:text-[55px]">Bolos confeccionados com amor</h1>
            </div>
            <div class="description-content">
                <p class="tablet:text-[10px] laptop:text-[15px] font-medium text-[#464646] desktop:w-[631px]">Sou um parágrafo. Clique aqui para editar e adicionar o seu próprio texto.
                    É fácil! Basta clicar em “Editar Texto” ou clicar duas vezes sobre mim e você
                    poderá adicionar o seu próprio conteúdo e trocar fontes. Sou um ótimo
                    espaço para você contar sua história</p>
            </div>
            <div class="ask-for-gudget my-7 w-full">
                <a href="javascript:void(0)" class="tablet:text-[10px] laptop:text-[15px] font-bold">Pedir Orçamento</a>
            </div>
        </div>
        <div class="banner-image tablet:w-[80%] laptop:w-[70%] tablet:h-[336px] laptop:h-[500px] desktop:h-[650px]">
            <img src="assets/images/banner/img1.jpg" alt="">
        </div>
    </div>
</div>