<div class="banner-mobile-screen py-5">
    <div class="banner-header w-[90%] mx-auto">
        <h1 class="text-[23px] text-primary font-bold">Bolos confeccionados com amor</h1>
    </div>
    <div class="banner-image my-6">
        <img src="assets/images/banner/img1.jpg" alt="">
    </div>
    <div class="banner-content w-[90%] mx-auto">
        <div class="paragraph">
            <p class="text-[13px] text-center text-[#464646]">Sou um parágrafo. Clique aqui para editar e adicionar o seu próprio texto.
                É fácil! Basta clicar em “Editar Texto” ou clicar duas vezes sobre mim e você
                poderá adicionar o seu próprio conteúdo e trocar fontes. Sou um ótimo
                espaço para voc ê contar sua história</p>
        </div>
    </div>
    <div class="ask-for-gudget text-center my-7 w-full">
        <a href="javascript:void(0)" class="font-bold">Pedir Orçamento</a>
    </div>
</div>