@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Raleway';
    src: url('assets/fonts/Raleway/Raleway.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins/Poppins-ExtraLight-200.ttf');
    font-weight: 200;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins/Poppins-Light-300.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins/Poppins-Medium-500.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins/Poppins-SemiBold-600.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins/Poppins-Bold-700.ttf');
    font-weight: 700;
}

:root{
    --primary-color: #80B3A3;
    --secondary-color: #464646;
}

/*IE9*/
*::selection 
{
    background-color:transparent;
} 
*::-moz-selection
{
    background-color:transparent;
}
*{        
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;

    /*You just need this if you are only concerned with android and not desktop browsers.*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
    font-weight: 500;
    transition: .6s;
    scrollbar-color: var(--primary-color) transparent;
    scrollbar-width: thin;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #FDFBFB;
}

body::-webkit-scrollbar{
    width: 8px;
}

body::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
}